@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { margin: 0; padding: 0; box-sizing: border-box;}

body {
    font: nunito;
    padding: 15px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #00000015;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 3px 2px 1px 0 #0000006b;
    height: 5%;
    padding: 5px;
}

.mmenu {
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 0px;
}

.mlist {
    display: table-cell;
    width: 33,33333333333333%;

}

.mb {
    border-right: 2px solid #00000017;;
}

.mlist a {
    display:block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black; 
    font-size: 30px;
    letter-spacing: .2rem;
}

.btns {
    display: flex ;
    position: fixed;
    right: 30px;
    bottom: 20px;
    outline: none;
}

.btnsair {
    border-radius: 10px;
    color: #000000;
    background-color: #00000017;    
    box-shadow: 2px 1px 1px 1px #0000006e;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border: none;
}

.container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
border-radius: 10px;
box-shadow: 3px 2px 1px 0 #0000006b;
background-color: #00000017;
margin-top: 20px;
padding: 10px;
}



.card{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px 50px;
    padding: 5px;
}

.card:hover {
    box-shadow: 0 0 20px #000000;
}

canvas {
    display: flex;
    justify-content: center;
    transform:scale(0.8);
}

.titulograf {
    display: flex;
    justify-content: center;
}